@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-league-spartan: var(--font-league-spartan);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  background-color: #ffffff;
  font-family: var(--font-poppins, Arial, Helvetica, sans-serif);
}

.font-league-spartan {
  font-family: var(--font-league-spartan, Arial, Helvetica, sans-serif);
}

.font-poppins {
  font-family: var(--font-poppins, Arial, Helvetica, sans-serif);
}
